body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

#container {
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    border: 0px solid #000000;
    width: 960px;
    color: #666666;
}



#navigation {
    padding: 8px;
    background-color: #FFFFFF;
}

#footer {
    padding: 0px;
    text-align: center;
}



#pageTitle {
    font-size: xx-large;
    font-weight: bold;
    color: #666666;
}
#footer-banner {
    width: 960px;
}
#video {
    width: 960px;
    height: 190px;
}
